<br>
<div class="jumbotron">
    
    <h1 class="display-4"><strong> Quienes somos?</strong> </h1>
    <p class="lead">Somos una empresa comprometida con el medio ambiente, nuestros productos están hecho a base de material reciclable como el periódico, botellas de plástico, cartón, etc.
      <br> La educación ambiental es uno de los pilares que sustentan nuestra actividad. Porque sólo a través de la educación conseguiremos implicación de la ciudadanía en la protección del medio ambiente.</p>
    <hr class="my-4">


    <h4>Te presentamos algunos materiales que reciclamos</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Material</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Papel</td>
        <td><img src="../../../assets/papel.png" class="tamimg"></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Plastico</td>
        <td><img src="../../../assets/plastico.jpg" class="tamimg"></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Vidrio</td>
        <td><img src="../../../assets/vidrio.jpg" class="tamimg"></td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Cartón</td>
        <td><img src="../../../assets/carton.jpg" class="tamimg"></td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Aluminio</td>
        <td><img src="../../../assets/aluminio.jpg" class="tamimg"></td>
      </tr>
    </tbody>
  </table>
  </div>
